.wrapper{
	width: 80%;
	margin: auto;
}

body{
	margin: auto;
}

.footer{
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	justify-content: space-around;
}

.navbar-logo{
	width: 4%;
	margin-right: 28px;
}

.nav-reg{
	margin-left: 500px;
	padding: 0px 15px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.nav-signIn{
	margin-left: 20px;
	padding: 0px 15px;
	border-radius: 5px;
	background-color: #f2f2f2;
}


.footer{
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	justify-content: space-around;
}

.footer-content-text{
	font-size: 11px;
}

.footer-container{
	position: relative;
	text-align: center;
}

.footer-information{
	display: flex;
	justify-content: space-around;
}

.footer-container img{
	height: 80%;
	width: 130%;
	margin-left: -20%;
}

.center-text{
	position: absolute;
	top: 60%;
	left: 48%;
	font-weight: 600;
	transform: translate(-50%, 50%);
}

.logo-spss{
	width: 100%;
}

.section{
	margin: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.section-information{
	display: flex;
	justify-content: space-around;
}

.video{
	width:500px;
	margin: 25px 25px;
}

.font{
	font-size: 19px;
	text-align: justify;
}

.bold{
	font-weight: 720;
}

.text{
	margin: 27px 25px;
}

.background {
  background-image: url("Assets/accent.png"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 50%; 
}

.tujuan-title{
	margin: 60px 0px 10px 68px;
}

.box{
	background-color: #f2f2f2;
	padding: 28px 20px 15px 30px;
	border-radius: 10px;
	width: 65%;
	margin: 20px 0px 80px 35px;
	font-size: 18px;
}

.footer-spacing{
	margin-top: 120px;
}
